//COLORS
$color-primary: #0074D9;
$color-primary-light: #2196f3;
$color-primary-dark:#001f3f;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark:  #28b485;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light: #eee;
$color-white: #fff;
$color-black: #000;

// FONT
$color-light-grey: #f7f7f7;

$font-heading-primary: 6rem;
$font-heading-secondary: 3.5rem;
$default-font-size: 1.6rem;

$margin-bottom-big: 8rem;
$margin-bottom-medium: 2rem;
$margin-bottom-small: 1.5rem;

$margin-top-big: 8rem;
$margin-top-medium: 2rem;

$width-row: 114rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 5rem;