//Functionality

.card {
  height: 52rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;

  &__side {
    height: 52rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
    transition: all 1.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    &--front {
      background: $color-white;
    }
    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#e1eec3, 0.9),
          rgba(#f05053, 0.9)
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#3a6186, 0.9),
          rgba(#89253e, 0.9)
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#1c92d2, .9), 
          rgba(#f2fcfe, .9)
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__img {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    &--p1 {
      background-image: linear-gradient(
          to right bottom,
          rgba(#e1eec3, 0.5),
          rgba(#f05053, 0.5)
        ),
        url("/img/rivers.jpg");
    }
    &--p2 {
      background-image: linear-gradient(
          to right bottom,
          rgba(#3a6186, 0.5),
          rgba(#89253e, 0.5)
        ),
        url("/img/scarlet-sails.jpg");
    }
    &--p3 {
      background-image: linear-gradient(
          to right bottom,
          rgba(#1c92d2, .5), 
          rgba(#f2fcfe, .5)
        ),
        url("/img/petergof.jpg");
    }
  }

  &__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    color: $color-white;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &-1 {
      background-image: linear-gradient(
        to right,
        rgba(#e1eec3, 0.5),
        rgba(#f05053, 0.5)
      );
    }
    &-2 {
      background-image: linear-gradient(
        to right,
        rgba(#3a6186, 0.55),
        rgba(#89253e, 0.7)
      );
    }
    &-3 {
      background-image: linear-gradient(
        to right,
        rgba(#1c92d2, .7), 
        rgba(#f2fcfe, .7)
      );
    }
  }

  &__list {
    padding-bottom: 5rem;
    font-size: $default-font-size;

    & > ul {
      list-style-type: none;
    }
    li {
      text-align: center;
      display: inline-block;
      width: 75%;
      &:not(:last-child) {
        margin-bottom: $margin-bottom-small;
        border-bottom: 1px solid $color-grey-light;
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  &__price-box {
    margin-bottom: 8rem;
    color: $color-white;
    text-align: center;
  }
  &__only {
    font-size: $default-font-size;
    text-transform: uppercase;
  }
  &__price {
    font-size: 6rem;
    font-weight: 100;
  }

  // @include respond(tab-port) {
    @media only screen and (max-width: 56.25em),
            only screen and (hover:none) {
    height: auto;
    border-radius: 3px;
    background: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0deg);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }
    &__price-box {
      margin-bottom: 4rem;
      color: $color-white;
      text-align: center;
    }
    &__only {
      font-size: 1.2rem;
      text-transform: uppercase;
    }
    &__price {
      font-size: 4rem;
      font-weight: 100;
    }
  }
}
