.form {
    &__group{
        &:not(:last-child){
            margin-bottom: 2rem; 
        }
        position: relative;
    }
    &__input{
        padding: 1.5rem 2.5rem;
        font-size: $default-font-size;
        font-family: inherit;
        background-color: rgba($color-white, .9);
        border: none; 
        color: $color-grey-dark;
        margin-right: 1rem;
        outline: none;
        transition: all .3s;
        width: 90%;
        display: block;
        border-bottom: 3px solid transparent;

        &:focus{
            box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
            border-bottom: 3px solid $color-primary;
        }
        &:focus:invalid{
            box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
            border-bottom: 3px solid $color-secondary-dark;
        }
        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }   
    }
    &__label{
       margin-left: 2.25rem;
       margin-top: .7rem;
       font-size: 1.2rem;
       display: block;
       transition: all .2s;
       font-weight: 700;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem)
    }
    &__radio-group{
        width: 49%;
        display: inline-block;
        @include respond(tab-port){
            width: 100%;
            margin-bottom: 2rem;
        }
        position: relative; 
        margin-bottom: 2rem;
    }
    &__radio-input{
        display: none;
    }

    &__radio-label{
        padding-left: 5rem; 
        font-size: $default-font-size;
    }
    &__radio-button{
        width: 3rem;
        height: 3rem;
        border-radius: 50rem;
        border: 5px solid $color-primary;
        top: 0;
        left: 0;
        display: inline-block;
        position: absolute;
        &::after{
            content: "";
            position: absolute;
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 50rem; 
            background-color: $color-primary;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }


}